<ion-header>
  <ion-navbar>
    <ion-title>Ayuda de HabitApp</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>¿Cómo funciona?</ion-card-title>

      <p>Habitapp.org utiliza el GPS de tu celular para realizar el
      relevamiento, o hacer zoom y tocar el mapa en el punto en el que quieras
      relevar.</p>

      <video controls src="http://habitapp.org/habitapp_tutorial.mp4">
      </video>

      <p>Esas coordenadas se traducen a una dirección que por defecto da el
      mapa de Openstreetmap; si la dirección sugerida no es correcta, podés
      modificarla, aunque esto no va a modificar la coordenada.</p>

      <h2>Pantalla de inicio</h2>

      <p>En la pantalla de inicio puedes,</p>

      <ol>
        <li>Activar el GPS para relevar un nuevo punto</li>
        <li>Visualizar los relevamientos que ya se hayan realizado</li>
        <li>Desplegar el Menú con informaciones varias (quienes somos, por que
        una app, contacto, etc.)</li>
      </ol>

      <img src="assets/imgs/inicio.png" alt="Captura de pantalla mostrando el
      inicio de Habitapp, con descripción de los elementos principales de la
      interfaz" />

      <h2>Para relevar</h2>

      <ul>

        <li>Para agregar un punto a relevar toca el botón que se
        encuentra en la parte inferior derecha, eso activará el GPS y te
        mostrará la ubicación del celular; al mismo tiempo se desplegará un
        menú en la parte inferior de tu pantalla;</li>

        <li>Toca en la opción Agregar</li>

        <li>Rellena los campos disponibles (categorías y/o
        subcategorías), puedes agregar una foto de la galería de tu celular o
        tomarla en ese mismo instante. También (y de manera opcional) puedes
        agregar una descripción o comentarios.</li>

        <li>Finalmente, si lo deseas puedes dejar un mail de contacto. Bajo
        ningún concepto será publicada esa información y la aplicación no
        tiene acceso a ningún dato más que el GPS y la cámara.</li>

      </ul>

      <h2>Para visualizar categorías ya relevadas</h2>

      <img src="assets/imgs/visualizacion.png" alt="Captura de pantalla de la
      app mostrando el menú de categorías y la funcionalidad de sus
      elementos"/>

      <ul>

        <li>Toca sobre el marcador que se encuentra en la parte superior
        derecha, eso desplegará todas las categorías activas en ese momento,
        es importante que sepas que puedes proponer nuevas categorías.</li>

        <li>Algunas categorías tienen "Subcategorías", son las que tienen el
        triángulo al lado derecho de su nombre. Al tocarlo aparecerán
        las subcategorías correspondientes.</li>

        <li>El signo de interrogación que también aparece en el lado derecho
        despliega una pequeña descripción de la categoría o subcategoría
        correspondiente.</li>

        <li>Toca el botón "Mostrar esta categorías" para aplicar los
        filtros.  La app los recordará para la próxima vez que la
        uses.</li>

      </ul>


    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>Datos libres, código libre</ion-card-title>

      <p>Todos los componentes de software utilizados (librerías, stack
      de desarrollo, etc.) para el desarrollo de la aplicación son de
      software libre y el código fuente está publicado según la licencia
      AGPLv3 <a href="https://forja.lainventoria.com.ar/habitapp">(podés
      descargarlo aquí)</a></p>

      <p>Todos los puntos relevados mediante esta aplicación también
      están disponibles, si deseas acceder a esa información en formato
      CSV envianos un mail a: <a
      href="mailto:contacto@habitapp.org">contacto@habitapp.org</a></p>

      <p>Desde habitapp.org fomentamos el libre flujo de información así
      como la reciprocidad entre los que generan esa información y
      quiénes la utilizan con diversos fines, en ese sentido las
      experiencias de "investigación-acción" son el ejemplo que
      procuramos seguir desde nuestro lugar y que proponemos para el
      funcionamiento del uso de los datos recopilados desde la
      aplicación.</p>

    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-card-title>Relevar categorías sensibles</ion-card-title>

      <p>En algunos casos el relevamiento que realices puede incomodar a
      otras personas al momento de tomar la foto, en esos casos te
      proponemos siempre pedir permiso y/o autorización para tomar la
      foto y que siempre que se pueda no aparezcan personas. Si aparecen
      asegurate de tener su consentimiento.</p>

    </ion-card-content>
  </ion-card>
</ion-content>
