<ion-content>
  <form [formGroup]="login_form" (ngSubmit)="sendForm()">
    <ion-item>
      <ion-label floating>Identificador</ion-label>
      <ion-input type="text" formControlName="identifier" [value]="identifier"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>Contraseña</ion-label>
      <ion-input type="password" formControlName="password" [value]="password"></ion-input>
    </ion-item>

    <button ion-button block type="submit" [disabled]="!validForm()">
      Ingresar
    </button>
  </form>
</ion-content>
