<ion-header>

  <ion-navbar>
    <ion-title>Relevamiento</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <img [src]="getSanitizedPhoto()"/>
    <ion-card-content>
      <ion-row no-padding>
        <ion-col *ngIf="!api.browser">
          <button ion-button small clear icon-start block (click)="getPicture(1)">
            <ion-icon name="camera" item-start></ion-icon>
            Cámara
          </button>
        </ion-col>

        <ion-col>
          <button ion-button small clear icon-start block color="secondary" (click)="getPicture(0)">
            <ion-icon name="images"></ion-icon>
            Galería
          </button>
        </ion-col>
      </ion-row>
      <ion-row no-padding>
        <p><small>Opcional. Si aparecen personas en la foto, recordá pedirles su consentimiento.</small></p>
      </ion-row>
    </ion-card-content>

  </ion-card>

  <form [formGroup]="relevamiento_form" (ngSubmit)="sendForm()">
    <ion-item>
      <ion-label floating>Categoría</ion-label>
      <ion-select formControlName="categoria_id" (ionChange)="defaultSubCategoria()">
        <ion-option *ngFor="let categoria of categorias_raiz" [value]="categoria.attributes.id">{{ categoria.attributes.nombre }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Sub categoría</ion-label>
      <ion-select formControlName="sub_categoria_id" (ionChange)="extraForm()">
        <ion-option
          *ngIf="relevamiento_form.value.categoria_id"
          [value]="relevamiento_form.value.categoria_id">
          La categoría anterior
        </ion-option>
        <ion-option
          *ngFor="let sub_categoria of subCategorias(relevamiento_form.value.categoria_id)"
          [value]="sub_categoria.attributes.id">{{ sub_categoria.attributes.nombre }}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label floating>Dirección</ion-label>
      <ion-input type="text" formControlName="direccion" [value]="address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label floating>
        Descripción
        <small>(opcional)</small>
      </ion-label>
      <ion-textarea formControlName="descripcion"></ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label floating>
        Información de contacto
        <small>(opcional)</small>
        <br/>
        <small class="no-wrap">Esta información es confidencial y solo visible para HabitApp</small>
      </ion-label>
      <ion-textarea formControlName="informacion_de_contacto"></ion-textarea>
    </ion-item>

    <div *ngIf="extra_controls.length > 0">
      <div formGroupName="extra">
        <div *ngFor="let control of extra_controls">

          <ion-item *ngIf="(control.attributes.value == 'select' && !control.attributes.multiple)">
            <ion-label floating>
              {{ control.attributes.order + 1 }}. {{ control.attributes.label }}
              <div *ngIf="control.attributes.help"><small>{{ control.attributes.help }}</small></div>
              <div *ngIf="!control.attributes.required"><small>(opcional)</small></div>
            </ion-label>

            <ion-select [formControlName]="control.attributes.name">
              <ion-option *ngFor="let option of control.attributes.possible_values"
                          [value]="option">{{ option }}</ion-option>
            </ion-select>
          </ion-item>

          <div class="item item-ios" *ngIf="(control.attributes.value == 'select' && control.attributes.multiple)">
            <ion-label>{{ control.attributes.order + 1 }}. {{ control.attributes.label }}</ion-label>
            <ion-item *ngFor="let possible_value of control.attributes.possible_values">
              <ion-label>{{ possible_value }}</ion-label>
              <ion-checkbox
                [checked]="isPossibleChecked(control.attributes.name, possible_value)"
                (ionChange)="possibleValue(control.attributes.name,
                possible_value)"></ion-checkbox>
            </ion-item>
          </div>

          <ion-item *ngIf="['string','number'].includes(control.attributes.value)">
            <ion-label floating>
              {{ control.attributes.order + 1 }}. {{ control.attributes.label }}
              <div *ngIf="control.attributes.help"><small>{{ control.attributes.help }}</small></div>
              <div *ngIf="!control.attributes.required"><small>(opcional)</small></div>
            </ion-label>

            <ion-input [formControlName]="control.attributes.name"
            [type]="control.attributes.value"></ion-input>
          </ion-item>

          <ion-item *ngIf="control.attributes.value == 'boolean'">
            <ion-label>
              {{ control.attributes.order + 1 }}. {{ control.attributes.label }}
            </ion-label>
            <ion-checkbox *ngIf="control.attributes.value == 'boolean'"
            [formControlName]="control.attributes.name"></ion-checkbox>
          </ion-item>
          <img *ngIf="control.attributes.photo" [src]="getSanitizedPhoto(control.attributes.name)" class="img-photo"/>
          <button type="button" *ngIf="control.attributes.photo"
            ion-button block  clear icon-start
            (click)="getPicture((this.api.browser ? 0 : 1), control.attributes.name)">
            <ion-icon name="camera"></ion-icon>
            Agregar foto
          </button>
        </div>
      </div>
    </div>

    <button ion-button block type="submit" [disabled]="!validForm()">
      Enviar
    </button>
  </form>
</ion-content>
