page-relevamiento {
  ion-label,
  .item-md,
  .no-wrap {
    white-space: normal;
    word-wrap: normal;
  }

  .item-md {
    padding-left: 0;
  }

  .img-photo {
    max-height: 100px;
    margin: auto;
    display: block;
  }
}

.cordova-camera-select {
  display: none;
}
