<ion-header>
  <ion-navbar>
    <ion-title>Acerca de HabitApp</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <img src="assets/imgs/logo.png" alt="Logo de HabitApp"/>
    <ion-card-content>
      <ion-card-title>¿Por qué una app?</ion-card-title>

      <p>
        <strong>habitapp.org</strong> es una aplicación de celular que en forma gratuita
        permite la realización y georreferenciamiento en un mapa de
        relevamientos, encuestas y denuncias en forma colectiva sobre
        cualquier tema que se requiera. Es una herramienta de producción
        y visualización de información para la conquista y ejercicio de
        derechos.
      </p>


      <p>
        Entendemos que la disputa por el territorio y el Hábitat se ha
        intensificado en el mundo. Creemos en la necesidad de una
        herramienta que visibilice los conflictos en nuestros
        territorios urbanos y rurales de manera eficaz y masiva.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
