page-categorias {
  ion-badge {
    font-size: 1.2rem;
    vertical-align: top;
  }

  ion-icon {
    font-size: 2rem;
  }

  .smaller {
    text-transform: none;
  }

  .categoria {
    display: inline-block;
    white-space: normal;
    max-width: 75%;
  }

  .botones {
    display: inline-block;
    position: absolute;
    right: 8px;
  }

  .item-button {
  }

  .label-md {
    margin: 0
  }

  .list-md {
    .item-block {
      min-height: 0;
      .item-inner {
        margin-top: 9px;
      }
    }
  }

  .item-md {
    padding-left: 5px;
    align-items: flex-start;
    font-size: 1.2rem;

    [item-end] {
      margin: 0;
    }

    [item-start] {
      margin-top: 0;
      margin-bottom: 0;
    }

    .item-md {
      padding-left: 0;
    }

    .item-button {
      margin-top: 0
    }
  }

  .item.item-md {
    .checkbox-md {
      margin-right: 9px;
    }
  }

  .expand {
    transition: 0.2s linear;
    margin-top: 10px;
  }

  .collapsed {
    height: 0 !important;
  }
}
