<ion-content>
  <ion-scroll scrollY="true">
  <ion-list no-lines>

    <ion-item>
      <ion-row>
        <ion-col center text-center>
          <ion-spinner *ngIf="still_loading" name="dots"></ion-spinner>
          <button *ngIf="!still_loading" ion-button icon-start (click)="dismiss()">
            <ion-icon name="checkmark"></ion-icon>
            <span class="smaller">Mostrar estas categorías</span>
          </button>
        </ion-col>
      </ion-row>
    </ion-item>

    <ion-item *ngFor="let categoria of categorias_raiz">
      <ion-label>
        <ion-badge item-start [style.backgroundColor]="categoria.attributes.color">
          {{ categoria.attributes.total }}
        </ion-badge>

        <span class="categoria">{{ categoria.attributes.nombre }}</span>

        <div class="botones">
          <button ion-button clear class="item-button"
            *ngIf="categoria.attributes.descripcion"
            (click)="showToast(categoria.attributes.descripcion)">
            <ion-icon name="help-circle"></ion-icon>
          </button>

          <button ion-button clear large class="item-button"
            *ngIf="subCategorias(categoria.id).length > 0"
            (click)="toggleSubCategoria(categoria.id)">
            <ion-icon [name]="whichArrow(categoria.id)"></ion-icon>
          </button>
        </div>

        <div class="expand" [class.collapsed]="!expandir[categoria.id]">
          <ion-item *ngFor="let sub_categoria of subCategorias(categoria.id)">
            <ion-label>
              <ion-badge item-start [style.backgroundColor]="sub_categoria.attributes.color">
                {{ sub_categoria.attributes.total }}
              </ion-badge>

              <span class="categoria">{{ sub_categoria.attributes.nombre }}</span>

              <div class="botones">
                <button ion-button item-end clear class="item-button"
                  *ngIf="sub_categoria.attributes.descripcion"
                  (click)="showToast(sub_categoria.attributes.descripcion)">
                  <ion-icon name="help-circle"></ion-icon>
                </button>
              </div>
            </ion-label>

            <ion-checkbox
              [checked]="categorias_guardadas[sub_categoria.id]"
              [(ngModel)]="categorias_guardadas[sub_categoria.id]"
              (ionChange)="save()"></ion-checkbox>
          </ion-item>
        </div>
      </ion-label>

      <ion-checkbox
        [checked]="categorias_guardadas[categoria.id]"
        [(ngModel)]="categorias_guardadas[categoria.id]"
        (ionChange)="seleccionarSubCategorias(categoria.id)"></ion-checkbox>

    </ion-item>
  </ion-list>
  </ion-scroll>
</ion-content>
