<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-buttons end>
      <button ion-button icon-only (click)="presentPopover($event)">
        <ion-icon name="pin" class="azul"></ion-icon>
        <span class="categorias">Categorías</span>
      </button>

      <div *ngIf="api.browser">
        <button *ngIf="loginVisible()" ion-button icon-only (click)="authenticatePopover($event)">
          <ion-icon name="lock"></ion-icon>
        </button>

        <button *ngIf="!loginVisible()" ion-button icon-only (click)="cerrarSesion($event)">
          <ion-icon name="unlock"></ion-icon>
        </button>
      </div>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="mapa-container">
    <div id="mapa">
    </div>
  </div>

  <ion-fab bottom right *ngIf="!api.browser">
    <button ion-fab color="light" (click)="geoLocate()">
      <ion-icon name="locate"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
