@import "leaflet";

.categorias-popover .popover-content {
  width: 80% !important;
}

page-mapa {
  ion-fab {
    &[bottom] {
      bottom: 20px;
    }

    button {
      &.fab {
        width: 32px;
        height: 32px;
      }
    }
  }

  .categorias {
    padding: 5px 5px 5px 0;
  }

  .scroll-content {
    padding: 0 !important;
    margin-top: 0 !important;
  }

  .toolbar-background-md {
    background: transparent;
    border: none;
  }

  .bar-button-default-md {
    color: $negro;
  }

  .leaflet-top {
    padding-top: 56px;
  }

  .header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after,
  .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before {
    background: transparent;
  }

  .bar-button-default-md,
  .bar-button-clear-md-default,
  .bar-button-md-default {
    background-color: white;
  }

  .mapa-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;

    #mapa {
      width: 100%;
      height: 100%;

      .gps-marker,
      .marker {
        margin-left: -12px !important;
        margin-top: -41px !important;
        width: 25px !important;
        height: 41px !important;
        display: inline-block;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        .pin-background {
          background-color: white;
          width: 15px;
          height: 15px;
          z-index: -1;
          margin-left: 5px;
          margin-top: 20px;
        }

        .pin-foreground {
          background-color: transparent;
          width: 20px;
          height: 20px;
          margin-left: 4px;
          margin-top: -31px;

          ion-icon {
            font-size: 20px;
            color: black;
          }
        }

        ion-icon {
          font-size: 41px;
          margin-top: -20px;
        }
      }
    }
  }
}
