<ion-header>
  <ion-navbar>
    <ion-title>Contactanos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-content>
      <p>
        Podés ponerte en contacto con el equipo de HabitApp para
        solicitar nuevas categorías o más información a <a
        href="mailto:contacto@habitapp.org">contacto@habitapp.org</a>
      </p>

      <p>O podés suscribirte para recibir novedades:</p>

      <form *ngIf="!yaSeSuscribio()" [formGroup]="contacto_form" (ngSubmit)="sendForm()">
        <ion-item>
          <ion-label floating>Dirección de correo o teléfono</ion-label>
          <ion-input type="text" formControlName="email"></ion-input>
        </ion-item>

        <button ion-button block type="submit" [disabled]="!contacto_form.valid">
          Suscribirme
        </button>
      </form>

      <div *ngIf="yaSeSuscribio()">
        <h1>¡Gracias!</h1>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>
