<ion-header>
  <ion-navbar>
    <ion-title>¿Qué relevamos?</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-content>
      <ion-card-title>¿Qué relevamos?</ion-card-title>

      <p>En la disputa por el Territorio y Hábitat hay diversos
      sectores, que acumulan ventajas y desventajas y que en ocasiones
      actúan en situaciones que rozan la ilegalidad o directamente están
      por fuera de la legalidad.</p>

      <p>Dado este panorama, desde Habitapp.org nos alineamos con los
      sectores populares y proponemos denunciar situaciones de abuso por
      parte de los sectores que acumulan ventajas, es por eso que no
      fomentamos el relevamiento de ocupaciones ilegales, vendedores
      ambulantes, o toda situación que sea resultado de estrategias
      populares de supervivencia y/o que su visibilización genere más
      desventajas a dicho sector.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
