// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

$azul: #13487C;
$gris: #868686;
$negro: #000000;
$gris2: #B3B3B3;
$blanco: #DCDCDC;
$azul2: #13487C;
$azul3: rgb(30, 114, 197);
$azul4: #426A92;
$azul5: #5892C8;
$azul6: #0B2A49;

$text-input-md-highlight-color: $azul3;

.azul {
  color: $azul !important;
}

.button-md,
.toolbar-background-md {
  background: $azul;
}

.button-clear-md,
.button-clear-md-secondary {
  background: transparent;
}

.button-clear-md {
  color: $azul2;
}

.button-clear-md-secondary {
  color: $azul3;
}

.bar-button-default-md,
.bar-button-clear-md-default,
.bar-button-md-default,
.toolbar-title-md {
  color: white;
}

.alert-md {
  .alert-radio-inner {
      background-color: $azul;
  }

  [aria-checked="true"] {
    .alert-radio-label {
      color: $azul;
    }

    .alert-radio-icon {
      border-color: $azul;
    }
  }

  .alert-button {
    color: $azul;
  }

  .alert-radio-label {
    word-wrap: normal;
    white-space: normal;
  }

}

.item-md {

  &.item-block {
    .item-inner {
      border-color: $gris;
    }
  }
}

.item-input .label-md,
.item-select .label-md,
.item-datetime .label-md
{
  color: $gris;
}

.card-md {
  p {
    margin-top: 1.4rem;
  }
}

.toast-button {
  color: white !important;
}

.middle {
  vertical-align: middle;
}

img {
  &.icon {
    height: 15px;
  }
}
