<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar>
      <ion-title>HabitApp</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item icon-start *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon class="middle" [name]="p.icon"></ion-icon>
        {{p.title}}
      </button>

      <a menuClose ion-item icon-start
        *ngIf="api.browser"
        target="_blank"
        href="https://play.google.com/store/apps/details?id=org.habitapp">
        <img src="assets/imgs/play.png" alt="Logo de Google Play"
          class="icon middle"/>
        Instalar desde Google Play</a>

      <a menuClose ion-item icon-start
        *ngIf="api.browser"
        target="_blank"
        href="/fdroid/">
        <img src="assets/imgs/fdroid.png" alt="Logo de F-Droid"
          class="icon middle"/>
        Instalar desde F-Droid</a>

    </ion-list>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
