<ion-header>
  <ion-navbar>
    <ion-title>
      Relevamientos pendientes
      ({{ relevamientos_offline.length.toString() }})
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let relevamiento of relevamientos_offline">
    <img [src]="getSanitizedPhoto(relevamiento)"
         *ngIf="relevamiento.attributes.fotos.principal"/>

    <ion-card-content>
      <ion-card-title>
        {{ relevamiento.attributes.direccion }}
      </ion-card-title>
    </ion-card-content>
  </ion-card>
</ion-content>
