<ion-header>
  <ion-navbar>
    <ion-title>Agregar nuevas categorías</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <img src="assets/imgs/logo.png" alt="Logo de HabitApp"/>
    <ion-card-content>
      <ion-card-title>Para crear nuevas categorías</ion-card-title>

      <p>
        Esta es una herramienta abierta a colaboración con otros
        espacios y personas. El listado que proponemos no está cerrado,
        está abierta la posibilidad a nuevas categorías. Para agregar
        nuevas categorías y gestionar un mapeo colectivo manda un mail a
        <a
        href="mailto:contacto@habitapp.org">contacto@habitapp.org</a>.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
