<!--
  Generated template for the FichaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Ficha</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <img [src]="(relevamiento)?.data.attributes.fotos['principal']"/>
    <ion-card-content>
      <ion-card-title>{{ (relevamiento)?.data.attributes.direccion }}</ion-card-title>

      <ion-chip *ngIf="(relevamiento)?.data.attributes.confirmado">
        <ion-icon name="star"></ion-icon>
        <ion-label>Confirmado por HabitApp</ion-label>
      </ion-chip>

      <p>{{ (relevamiento)?.data.attributes.descripcion }}</p>

      <ion-chip [style.backgroundColor]="(relevamiento)?.data.attributes.categoria.color">
        <ion-label>{{ (relevamiento)?.data.attributes.categoria.arbol }}</ion-label>
      </ion-chip>

      <p>Fue cargada en {{ (relevamiento)?.data.attributes.fecha }}</p>

      <p>Última modificación {{ (relevamiento)?.data.attributes.ultima_modificacion }}</p>

      <button [disabled]="!login" ion-button block (click)="actualizarRelevamiento(relevamiento)">
        Actualizar información
      </button>
    </ion-card-content>
  </ion-card>

  <ion-card *ngFor="let extra of (relevamiento)?.included">
    <img
      *ngIf="getPhoto(extra.attributes.name)"
      [src]="getPhoto(extra.attributes.name)"/>
    <ion-card-content>
      <ion-item>
        {{ extra.attributes.label }}
        <ion-badge item-end>{{ extra.attributes.valor }}</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>Comentarios</ion-card-header>
    <ion-card-content>
      <div color="secondary" class="comentario" *ngFor="let comentario of comentarios">
        <div class="contenido">
          <p>
            <ion-icon *ngIf="comentario.attributes.confirmado" name="star" item-start></ion-icon>
            {{ comentario.attributes.contenido }}
          </p>
        </div>
        <div class="fecha">{{ humanUnixAgo(comentario.attributes.created_at) }}</div>
      </div>

      <form [formGroup]="comentario_form" (ngSubmit)="sendForm()">
        <ion-item>
          <ion-label floating>Dejá un comentario</ion-label>
          <ion-textarea formControlName="contenido"></ion-textarea>
        </ion-item>

        <button ion-button block type="submit" [disabled]="(!comentario_form.valid && !login)">
          Enviar
        </button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>
