page-ficha {
  .label-md {
    word-wrap: normal;
    white-space: normal;
  }

  .comentario {

    .contenido {
      border-radius: 5px;
      padding: 7px;
      color: $negro;
      background-color: $blanco;

      p {
        margin: 0 0 2px;
      }
    }

    .fecha {
      font-size: 1rem;
      text-align: right;
    }
  }

}
