<ion-header>
  <ion-navbar>
    <ion-title>Quiénes Somos</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card>
    <img src="assets/imgs/mpld.png" alt="Logo del Movimiento Popular La Dignidad"/>
    <ion-card-content>
      <ion-card-title>Movimiento Popular La Dignidad</ion-card-title>

      <p>
        El Movimiento Popular La Dignidad (MPLD) es una organización
        política de alcance nacional en el territorio de la Argentina.
        Sus inicios fueron en la ciudad de Buenos Aires con presencia en
        todas sus villas con trabajo comunitario y político.
      </p>

      <p>
        El Movimiento Popular La Dignidad administra la Red Puentes
        (centros de día para tratar a jóvenes con consumos
        problemáticos), una Central de Emergencias, Bachilleratos
        Populares y alfabetizadores que trabajan en las villas. La
        Dignidad también impulsa Empresas de Gestión Social (EGS), una
        de las cuales cuenta con camiones que distribuyen garrafas que
        los vecinos adquieren a bajo costo y otra con un vehículo
        atmosférico, además de fomentar la comercialización de productos
        y servicios de la economía social.
      </p>

      <p>
        Actualmente integra la Confederación de Trabajadores de la
        Economía Popular (CTEP).
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/observatorio-ciudad.png" alt="Logo del Observatorio del Derecho a la Ciudad"/>
    <ion-card-content>
      <ion-card-title>Observatorio del Derecho a la Ciudad</ion-card-title>
      <p><a href="http://observatoriociudad.org/">http://observatoriociudad.org/</a></p>
      <p><a href="mailto:observatorioderechoalaciudad@gmail.com">observatorioderechoalaciudad@gmail.com</a></p>

      <p>
        Somos una organización social independiente con carácter
        interdisciplinario conformado por estudiantes, profesionales y
        activistas, de distintas profesiones y temáticas, involucrados
        en las problemáticas urbanas que en forma vocacional
        participamos en las discusiones públicas presentes y realizamos
        acciones con la creencia de que las ciudades deben construirse y
        reproducirse bajo el paradigma del "Derecho a la Ciudad".
      </p>

      <p>
        Resulta necesaria la existencia de un equipo interdisciplinario que
        brinde colaboración técnica a las organizaciones sociales y
        territoriales, que esté presente en las discusiones urbanas en el
        momento en el que está abierto el debate, que impulse políticas que
        busquen las soluciones a las cuestiones urbanas en su raíz, que
        conozca cada unos de los mecanismos institucionales y democráticos
        existentes y realice un seguimiento permanente y profundo de las
        políticas implementadas.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/destapiadas.png" alt="Logo de Destapiadas"/>
    <ion-card-content>
      <ion-card-title>Destapiadas</ion-card-title>

      <p><a href="https://destapiadas.wordpress.com/">https://destapiadas.wordpress.com/</a></p>

      <p>
        Desde el 2011, el colectivo abierto Destapiadas.org realiza un
        relevamiento de viviendas ociosas en la Ciudad de Buenos Aires y
        durante el 2013 extendió su acción a São Paulo, Rio de Janeiro
        (Brasil) y Madrid (España) a través de acciones de campo, en redes
        sociales y producciones audiovisuales, con foco en:
      </p>

      <ul>
        <li>Cobertura de conflictos habitacionales.</li>
        <li>Mapeo de viviendas ociosas.</li>
        <li>Registro de experiencias impulsadas por movimientos sociales.</li>
        <li>Desarrollo de propuestas autónomas en el (re)aprovechamiento del Hábitat</li>
        <li>Estudio de procesos de gentrificación</li>
      </ul>

      <p>
        Observa conflictos territoriales a nivel internacional; expone
        alternativas para fomentar un acceso justo al hábitat; busca,
        investiga y articula conocimientos con otros colectivos e
        instituciones.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <img src="assets/imgs/la-inventoria.png" alt="Logo de La Inventoría"/>
    <ion-card-content>
      <ion-card-title>La Inventoría</ion-card-title>

      <p><a href="https://lainventoria.com.ar/">https://lainventoria.com.ar/</a></p>

      <p>
        La Inventoría es una cooperativa de tecnología que desde el 2012
        desarrolla plataformas, aplicaciones, microservicios e
        infraestructuras a medida, basándose en software libre/código
        abierto.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
